asgiref==3.5.2
dj-database-url==1.0.0
Django==4.1.1
django-admin-tailwind==0.0.16
django-appconf==1.0.5
django-compressor==4.1
django-extensions==3.2.1
django-filter==22.1
django-heroku==0.3.1
django-on-heroku==1.1.2
gunicorn==20.1.0
Pillow==9.2.0
psycopg2==2.9.4
psycopg2-binary==2.9.4
python-decouple==3.6
python-dotenv==0.21.0
rcssmin==1.1.0
rjsmin==1.2.0
sqlparse==0.4.2
tzdata==2022.2
whitenoise==6.2.0
